.wrapper {
  max-width: 1136px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.toTranslateCard {
  background-color: rgba(33, 41, 54, 0.8);
}

.translatedCard {
  background-color: rgba(18, 24, 38, 0.8);
}
