.cardWrapper {
  display: flex;
  min-width: 500px;
  border: 1px solid #4d5562;
  border-radius: 15px;
  padding: 24px;
  flex-direction: column;
}

.cardControl {
  *:not(:last-child) {
    margin-right: 14px;
  }
}
.divider {
  height: 1px;
  width: 100%;
  margin: 20px 0px;
  background-color: #4d5562;
}
.cardFooter {
  display: flex;
  & button {
    margin-left: auto;
  }
}
.toTranslateCard {
  background-color: rgba(33, 41, 54, 0.8);
}

.translatedCard {
  background-color: rgba(18, 24, 38, 0.8);
}
