.textAreaWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

textarea {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100px;
  background: none;
  font: 1rem "NunitoBold" !important;
  font-family: inherit;
  color: inherit;
  resize: none; /* Optional: Disable textarea resizing */
  /* Add any additional styling you need */
}
.counter {
  display: flex;
  justify-content: flex-end;
  font-family: "NunitoMedium";
  font-size: 12px;
  pointer-events: none;
  color: #4d5562;
}
