.textAreaWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
}

textarea {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100px;
  background: none;
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  resize: none; /* Optional: Disable textarea resizing */
  /* Add any additional styling you need */
}
.counter {
  display: flex;
  justify-content: flex-end;
}
